.shadow-func {
  --sf-l-color: #00000000;
  --sf-r-color: #00000000;
  --sf-t-color: #00000000;
  --sf-b-color: #00000000;
  --sf-l-inner: ;
  --sf-r-inner: ;
  --sf-t-inner: ;
  --sf-b-inner: ;
  --sf-l: var(--sf-l-inner) 0px 0px 0px var(--sf-l-color);
  --sf-r: var(--sf-r-inner) 0px 0px 0px var(--sf-r-color);
  --sf-t: var(--sf-t-inner) 0px 0px 0px var(--sf-t-color);
  --sf-b: var(--sf-b-inner) 0px 0px 0px var(--sf-b-color);


  --sf-lt-color: #00000000;
  --sf-rt-color: #00000000;
  --sf-lb-color: #00000000;
  --sf-rb-color: #00000000;
  --sf-lt-inner: ;
  --sf-rt-inner: ;
  --sf-lb-inner: ;
  --sf-rb-inner: ;
  --sf-lt: var(--sf-lt-inner) 0px 0px 0px var(--sf-lt-color);
  --sf-rt: var(--sf-rt-inner) 0px 0px 0px var(--sf-rt-color);
  --sf-lb: var(--sf-lb-inner) 0px 0px 0px var(--sf-lb-color);
  --sf-rb: var(--sf-rb-inner) 0px 0px 0px var(--sf-rb-color);

  box-shadow: var(--sf-r), var(--sf-b), var(--sf-l), var(--sf-t), var(--sf-lt), var(--sf-rb), var(--sf-lb), var(--sf-rt);
}

$sizes: ("--xs": 1px,
  "--sm": 3px,
  "": 4px,
  "--md": 7px,
  "--lg": 9px,
  "--xl": 12px,
  "--2xl": 15px);

@each $size,
$num in $sizes {
  .sf_l#{$size} {
    --sf-l-color: theme("colors.black");
    --sf-l-inner: ;
    --sf-l: var(--sf-l-inner) -#{$num} 0px calc(#{$num} * 2) var(--sf-l-color);
  }
}

@each $size,
$num in $sizes {
  .sf_r#{$size} {
    --sf-r-color: theme("colors.black");
    --sf-r-inner: ;
    --sf-r: var(--sf-r-inner) #{$num} 0px calc(#{$num} * 2) var(--sf-r-color);
  }
}

@each $size,
$num in $sizes {
  .sf_t#{$size} {
    --sf-t-color: theme("colors.black");
    --sf-t-inner: ;
    --sf-t: var(--sf-t-inner) 0px -#{$num} calc(#{$num} * 2) var(--sf-t-color);
  }
}

@each $size,
$num in $sizes {
  .sf_b#{$size} {
    --sf-b-color: theme("colors.black");
    --sf-b-inner: ;
    --sf-b: var(--sf-b-inner) 0px #{$num} calc(#{$num} * 2) var(--sf-b-color);
  }
}

@each $size,
$num in $sizes {
  .sf_lt#{$size} {
    --sf-lt-color: theme("colors.black");
    --sf-lt-inner: ;
    --sf-lt: var(--sf-lt-inner) -#{$num} -#{$num} calc(#{$num} * 2) var(--sf-lt-color);
  }
}

@each $size,
$num in $sizes {
  .sf_rt#{$size} {
    --sf-rt-color: theme("colors.black");
    --sf-rt-inner: ;
    --sf-rt: var(--sf-rt-inner) #{$num} -#{$num} calc(#{$num} * 2) var(--sf-rt-color);
  }
}

@each $size,
$num in $sizes {
  .sf_lb#{$size} {
    --sf-lb-color: theme("colors.black");
    --sf-lb-inner: ;
    --sf-lb: var(--sf-lb-inner) -#{$num} #{$num} calc(#{$num} * 2) var(--sf-lb-color);
  }
}

@each $size,
$num in $sizes {
  .sf_rb#{$size} {
    --sf-rb-color: theme("colors.black");
    --sf-rb-inner: ;
    --sf-rb: var(--sf-rb-inner) #{$num} #{$num} calc(#{$num} * 2) var(--sf-rb-color);
  }
}

$colors: ("gray": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "red": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "orange": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "yellow": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "green": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "teal": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "blue": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "indigo": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "purple": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900),
  "pink": (100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900));

@each $color,
$colorLevels in $colors {
  @each $colorLevel in $colorLevels {
    .sf_l--#{$color}-#{$colorLevel} {
      --sf-l-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_r--#{$color}-#{$colorLevel} {
      --sf-r-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_t--#{$color}-#{$colorLevel} {
      --sf-t-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_b--#{$color}-#{$colorLevel} {
      --sf-b-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_lt--#{$color}-#{$colorLevel} {
      --sf-lt-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_rt--#{$color}-#{$colorLevel} {
      --sf-rt-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_lb--#{$color}-#{$colorLevel} {
      --sf-lb-color: theme("colors.#{$color}.#{$colorLevel}");
    }

    .sf_rb--#{$color}-#{$colorLevel} {
      --sf-rb-color: theme("colors.#{$color}.#{$colorLevel}");
    }
  }
}

.sf_l--black {
  --sf-l-color: theme("colors.black");
}

.sf_r--black {
  --sf-r-color: theme("colors.black");
}

.sf_t--black {
  --sf-t-color: theme("colors.black");
}

.sf_b--black {
  --sf-b-color: theme("colors.black");
}

.sf_lt--black {
  --sf-lt-color: theme("colors.black");
}

.sf_rt--black {
  --sf-rt-color: theme("colors.black");
}

.sf_lb--black {
  --sf-lb-color: theme("colors.black");
}

.sf_rb--black {
  --sf-rb-color: theme("colors.black");
}

.sf_l--white {
  --sf-l-color: theme("colors.white");
}

.sf_r--white {
  --sf-r-color: theme("colors.white");
}

.sf_t--white {
  --sf-t-color: theme("colors.white");
}

.sf_b--white {
  --sf-b-color: theme("colors.white");
}

.sf_lt--white {
  --sf-lt-color: theme("colors.white");
}

.sf_rt--white {
  --sf-rt-color: theme("colors.white");
}

.sf_lb--white {
  --sf-lb-color: theme("colors.white");
}

.sf_rb--white {
  --sf-rb-color: theme("colors.white");
}

.sf_l--inner {
  --sf-l-inner: inset;
}

.sf_r--inner {
  --sf-r-inner: inset;
}

.sf_t--inner {
  --sf-t-inner: inset;
}

.sf_b--inner {
  --sf-b-inner: inset;
}

.sf_lt--inner {
  --sf-lt-inner: inset;
}

.sf_rt--inner {
  --sf-rt-inner: inset;
}

.sf_lb--inner {
  --sf-lb-inner: inset;
}

.sf_rb--inner {
  --sf-rb-inner: inset;
}