@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .neomorphism {
        --nmp-light: rgba(0, 0, 0, 0);
        --nmp-shadow: rgba(0, 0, 0, 0);
        --nmp-inner: ;
        --nmp-size: 0px;
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
        --nmp-light-w: 0;
        --nmp-light-h: 0;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 0;
        box-shadow: var(--nmp-inner) calc(var(--nmp-shadow-w) * var(--nmp-size))
                calc(var(--nmp-shadow-h) * var(--nmp-size)) var(--nmp-shadow-blur) var(--nmp-shadow),
            var(--nmp-inner) calc(var(--nmp-light-w) * var(--nmp-size)) calc(var(--nmp-light-h) * var(--nmp-size))
                var(--nmp-light-blur) var(--nmp-light);
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-l {
        --nmp-light-w: -1;
        --nmp-light-h: 0;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: 0;
    }
    .nmp-r {
        --nmp-light-w: 1;
        --nmp-light-h: 0;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: 0;
    }

    .nmp-t {
        --nmp-light-w: 0;
        --nmp-light-h: -1;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 1;
    }

    .nmp-b {
        --nmp-light-w: 0;
        --nmp-light-h: 1;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: -1;
    }

    .nmp-lt {
        --nmp-light-w: -1;
        --nmp-light-h: -1;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: 1;
    }
    .nmp-rb {
        --nmp-light-w: 1;
        --nmp-light-h: 1;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: -1;
    }

    .nmp-rt {
        --nmp-light-w: 1;
        --nmp-light-h: -1;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: 1;
    }

    .nmp-lb {
        --nmp-light-w: -1;
        --nmp-light-h: 1;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: -1;
    }

    .nmp-inner {
        --nmp-inner: inset;
    }

    .nmp-xs {
        --nmp-size: 3px;
    }

    .nmp-sm {
        --nmp-size: 7px;
    }

    .nmp-base {
        --nmp-size: 12px;
    }

    .nmp-lg {
        --nmp-size: 18px;
    }

    .nmp-xl {
        --nmp-size: 25px;
    }

    .nmp-2xl {
        --nmp-size: 30px;
    }

    .nmp-3xl {
        --nmp-size: 35px;
    }

    .nmp-4xl {
        --nmp-size: 40px;
    }

    .nmp-5xl {
        --nmp-size: 45px;
    }

    .nmp-6xl {
        --nmp-size: 50px;
    }

    .nmp-blur-sm {
        --nmp-light-blur: calc(1 * var(--nmp-size));
        --nmp-shadow-blur: calc(1 * var(--nmp-size));
    }

    .nmp-blur-base {
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
    }

    .nmp-blur-lg {
        --nmp-light-blur: calc(3 * var(--nmp-size));
        --nmp-shadow-blur: calc(3 * var(--nmp-size));
    }

    .nmp-light-blur-sm {
        --nmp-light-blur: calc(1 * var(--nmp-size));
    }

    .nmp-light-blur-base {
        --nmp-light-blur: calc(2 * var(--nmp-size));
    }

    .nmp-light-blur-lg {
        --nmp-light-blur: calc(3 * var(--nmp-size));
    }

    .nmp-shadow-blur-sm {
        --nmp-shadow-blur: calc(1 * var(--nmp-size));
    }

    .nmp-shadow-blur-base {
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
    }

    .nmp-shadow-blur-lg {
        --nmp-shadow-blur: calc(3 * var(--nmp-size));
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-black {
        --nmp-light: theme("colors.black");
    }
    .nmp-light-white {
        --nmp-light: theme("colors.white");
    }
    .nmp-light-transparent {
        --nmp-light: theme("colors.transparent");
    }
    .nmp-light-gray-100 {
        --nmp-light: theme("colors.gray.100");
    }
    .nmp-light-gray-200 {
        --nmp-light: theme("colors.gray.200");
    }
    .nmp-light-gray-300 {
        --nmp-light: theme("colors.gray.300");
    }
    .nmp-light-gray-400 {
        --nmp-light: theme("colors.gray.400");
    }
    .nmp-light-gray-500 {
        --nmp-light: theme("colors.gray.500");
    }
    .nmp-light-gray-600 {
        --nmp-light: theme("colors.gray.600");
    }
    .nmp-light-gray-700 {
        --nmp-light: theme("colors.gray.700");
    }
    .nmp-light-gray-800 {
        --nmp-light: theme("colors.gray.800");
    }
    .nmp-light-gray-900 {
        --nmp-light: theme("colors.gray.900");
    }

    .nmp-shadow-black {
        --nmp-shadow: theme("colors.black");
    }
    .nmp-shadow-white {
        --nmp-shadow: theme("colors.white");
    }
    .nmp-shadow-transparent {
        --nmp-shadow: theme("colors.transparent");
    }
}
