.shadow-func {
  --sf-l-color: #00000000;
  --sf-r-color: #00000000;
  --sf-t-color: #00000000;
  --sf-b-color: #00000000;
  --sf-l-inner: ;
  --sf-r-inner: ;
  --sf-t-inner: ;
  --sf-b-inner: ;
  --sf-l: var(--sf-l-inner) 0px 0px 0px var(--sf-l-color);
  --sf-r: var(--sf-r-inner) 0px 0px 0px var(--sf-r-color);
  --sf-t: var(--sf-t-inner) 0px 0px 0px var(--sf-t-color);
  --sf-b: var(--sf-b-inner) 0px 0px 0px var(--sf-b-color);
  box-shadow: var(--sf-l), var(--sf-t), var(--sf-r), var(--sf-b);
}

.sf_l--xs {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -1px 0px calc(1px * 2) var(--sf-l-color);
}

.sf_l--sm {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -3px 0px calc(3px * 2) var(--sf-l-color);
}

.sf_l {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -5px 0px calc(5px * 2) var(--sf-l-color);
}

.sf_l--md {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -7px 0px calc(7px * 2) var(--sf-l-color);
}

.sf_l--lg {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -9px 0px calc(9px * 2) var(--sf-l-color);
}

.sf_l--xl {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -12px 0px calc(12px * 2) var(--sf-l-color);
}

.sf_l--2xl {
  --sf-l-color: theme("colors.black");
  --sf-l-inner: ;
  --sf-l: var(--sf-l-inner) -15px 0px calc(15px * 2) var(--sf-l-color);
}

.sf_r--xs {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 1px 0px calc(1px * 2) var(--sf-r-color);
}

.sf_r--sm {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 3px 0px calc(3px * 2) var(--sf-r-color);
}

.sf_r {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 5px 0px calc(5px * 2) var(--sf-r-color);
}

.sf_r--md {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 7px 0px calc(7px * 2) var(--sf-r-color);
}

.sf_r--lg {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 9px 0px calc(9px * 2) var(--sf-r-color);
}

.sf_r--xl {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 12px 0px calc(12px * 2) var(--sf-r-color);
}

.sf_r--2xl {
  --sf-r-color: theme("colors.black");
  --sf-r-inner: ;
  --sf-r: var(--sf-r-inner) 15px 0px calc(15px * 2) var(--sf-r-color);
}

.sf_t--xs {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -1px calc(1px * 2) var(--sf-t-color);
}

.sf_t--sm {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -3px calc(3px * 2) var(--sf-t-color);
}

.sf_t {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -5px calc(5px * 2) var(--sf-t-color);
}

.sf_t--md {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -7px calc(7px * 2) var(--sf-t-color);
}

.sf_t--lg {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -9px calc(9px * 2) var(--sf-t-color);
}

.sf_t--xl {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -12px calc(12px * 2) var(--sf-t-color);
}

.sf_t--2xl {
  --sf-t-color: theme("colors.black");
  --sf-t-inner: ;
  --sf-t: var(--sf-t-inner) 0px -15px calc(15px * 2) var(--sf-t-color);
}

.sf_b--xs {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 1px calc(1px * 2) var(--sf-b-color);
}

.sf_b--sm {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 3px calc(3px * 2) var(--sf-b-color);
}

.sf_b {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 5px calc(5px * 2) var(--sf-b-color);
}

.sf_b--md {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 7px calc(7px * 2) var(--sf-b-color);
}

.sf_b--lg {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 9px calc(9px * 2) var(--sf-b-color);
}

.sf_b--xl {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 12px calc(12px * 2) var(--sf-b-color);
}

.sf_b--2xl {
  --sf-b-color: theme("colors.black");
  --sf-b-inner: ;
  --sf-b: var(--sf-b-inner) 0px 15px calc(15px * 2) var(--sf-b-color);
}

.sf_l--gray-100 {
  --sf-l-color: theme("colors.gray.100");
}

.sf_r--gray-100 {
  --sf-r-color: theme("colors.gray.100");
}

.sf_t--gray-100 {
  --sf-t-color: theme("colors.gray.100");
}

.sf_b--gray-100 {
  --sf-b-color: theme("colors.gray.100");
}

.sf_l--gray-200 {
  --sf-l-color: theme("colors.gray.200");
}

.sf_r--gray-200 {
  --sf-r-color: theme("colors.gray.200");
}

.sf_t--gray-200 {
  --sf-t-color: theme("colors.gray.200");
}

.sf_b--gray-200 {
  --sf-b-color: theme("colors.gray.200");
}

.sf_l--gray-300 {
  --sf-l-color: theme("colors.gray.300");
}

.sf_r--gray-300 {
  --sf-r-color: theme("colors.gray.300");
}

.sf_t--gray-300 {
  --sf-t-color: theme("colors.gray.300");
}

.sf_b--gray-300 {
  --sf-b-color: theme("colors.gray.300");
}

.sf_l--gray-400 {
  --sf-l-color: theme("colors.gray.400");
}

.sf_r--gray-400 {
  --sf-r-color: theme("colors.gray.400");
}

.sf_t--gray-400 {
  --sf-t-color: theme("colors.gray.400");
}

.sf_b--gray-400 {
  --sf-b-color: theme("colors.gray.400");
}

.sf_l--gray-500 {
  --sf-l-color: theme("colors.gray.500");
}

.sf_r--gray-500 {
  --sf-r-color: theme("colors.gray.500");
}

.sf_t--gray-500 {
  --sf-t-color: theme("colors.gray.500");
}

.sf_b--gray-500 {
  --sf-b-color: theme("colors.gray.500");
}

.sf_l--gray-600 {
  --sf-l-color: theme("colors.gray.600");
}

.sf_r--gray-600 {
  --sf-r-color: theme("colors.gray.600");
}

.sf_t--gray-600 {
  --sf-t-color: theme("colors.gray.600");
}

.sf_b--gray-600 {
  --sf-b-color: theme("colors.gray.600");
}

.sf_l--gray-700 {
  --sf-l-color: theme("colors.gray.700");
}

.sf_r--gray-700 {
  --sf-r-color: theme("colors.gray.700");
}

.sf_t--gray-700 {
  --sf-t-color: theme("colors.gray.700");
}

.sf_b--gray-700 {
  --sf-b-color: theme("colors.gray.700");
}

.sf_l--gray-800 {
  --sf-l-color: theme("colors.gray.800");
}

.sf_r--gray-800 {
  --sf-r-color: theme("colors.gray.800");
}

.sf_t--gray-800 {
  --sf-t-color: theme("colors.gray.800");
}

.sf_b--gray-800 {
  --sf-b-color: theme("colors.gray.800");
}

.sf_l--gray-900 {
  --sf-l-color: theme("colors.gray.900");
}

.sf_r--gray-900 {
  --sf-r-color: theme("colors.gray.900");
}

.sf_t--gray-900 {
  --sf-t-color: theme("colors.gray.900");
}

.sf_b--gray-900 {
  --sf-b-color: theme("colors.gray.900");
}

.sf_l--red-100 {
  --sf-l-color: theme("colors.red.100");
}

.sf_r--red-100 {
  --sf-r-color: theme("colors.red.100");
}

.sf_t--red-100 {
  --sf-t-color: theme("colors.red.100");
}

.sf_b--red-100 {
  --sf-b-color: theme("colors.red.100");
}

.sf_l--red-200 {
  --sf-l-color: theme("colors.red.200");
}

.sf_r--red-200 {
  --sf-r-color: theme("colors.red.200");
}

.sf_t--red-200 {
  --sf-t-color: theme("colors.red.200");
}

.sf_b--red-200 {
  --sf-b-color: theme("colors.red.200");
}

.sf_l--red-300 {
  --sf-l-color: theme("colors.red.300");
}

.sf_r--red-300 {
  --sf-r-color: theme("colors.red.300");
}

.sf_t--red-300 {
  --sf-t-color: theme("colors.red.300");
}

.sf_b--red-300 {
  --sf-b-color: theme("colors.red.300");
}

.sf_l--red-400 {
  --sf-l-color: theme("colors.red.400");
}

.sf_r--red-400 {
  --sf-r-color: theme("colors.red.400");
}

.sf_t--red-400 {
  --sf-t-color: theme("colors.red.400");
}

.sf_b--red-400 {
  --sf-b-color: theme("colors.red.400");
}

.sf_l--red-500 {
  --sf-l-color: theme("colors.red.500");
}

.sf_r--red-500 {
  --sf-r-color: theme("colors.red.500");
}

.sf_t--red-500 {
  --sf-t-color: theme("colors.red.500");
}

.sf_b--red-500 {
  --sf-b-color: theme("colors.red.500");
}

.sf_l--red-600 {
  --sf-l-color: theme("colors.red.600");
}

.sf_r--red-600 {
  --sf-r-color: theme("colors.red.600");
}

.sf_t--red-600 {
  --sf-t-color: theme("colors.red.600");
}

.sf_b--red-600 {
  --sf-b-color: theme("colors.red.600");
}

.sf_l--red-700 {
  --sf-l-color: theme("colors.red.700");
}

.sf_r--red-700 {
  --sf-r-color: theme("colors.red.700");
}

.sf_t--red-700 {
  --sf-t-color: theme("colors.red.700");
}

.sf_b--red-700 {
  --sf-b-color: theme("colors.red.700");
}

.sf_l--red-800 {
  --sf-l-color: theme("colors.red.800");
}

.sf_r--red-800 {
  --sf-r-color: theme("colors.red.800");
}

.sf_t--red-800 {
  --sf-t-color: theme("colors.red.800");
}

.sf_b--red-800 {
  --sf-b-color: theme("colors.red.800");
}

.sf_l--red-900 {
  --sf-l-color: theme("colors.red.900");
}

.sf_r--red-900 {
  --sf-r-color: theme("colors.red.900");
}

.sf_t--red-900 {
  --sf-t-color: theme("colors.red.900");
}

.sf_b--red-900 {
  --sf-b-color: theme("colors.red.900");
}

.sf_l--orange-100 {
  --sf-l-color: theme("colors.orange.100");
}

.sf_r--orange-100 {
  --sf-r-color: theme("colors.orange.100");
}

.sf_t--orange-100 {
  --sf-t-color: theme("colors.orange.100");
}

.sf_b--orange-100 {
  --sf-b-color: theme("colors.orange.100");
}

.sf_l--orange-200 {
  --sf-l-color: theme("colors.orange.200");
}

.sf_r--orange-200 {
  --sf-r-color: theme("colors.orange.200");
}

.sf_t--orange-200 {
  --sf-t-color: theme("colors.orange.200");
}

.sf_b--orange-200 {
  --sf-b-color: theme("colors.orange.200");
}

.sf_l--orange-300 {
  --sf-l-color: theme("colors.orange.300");
}

.sf_r--orange-300 {
  --sf-r-color: theme("colors.orange.300");
}

.sf_t--orange-300 {
  --sf-t-color: theme("colors.orange.300");
}

.sf_b--orange-300 {
  --sf-b-color: theme("colors.orange.300");
}

.sf_l--orange-400 {
  --sf-l-color: theme("colors.orange.400");
}

.sf_r--orange-400 {
  --sf-r-color: theme("colors.orange.400");
}

.sf_t--orange-400 {
  --sf-t-color: theme("colors.orange.400");
}

.sf_b--orange-400 {
  --sf-b-color: theme("colors.orange.400");
}

.sf_l--orange-500 {
  --sf-l-color: theme("colors.orange.500");
}

.sf_r--orange-500 {
  --sf-r-color: theme("colors.orange.500");
}

.sf_t--orange-500 {
  --sf-t-color: theme("colors.orange.500");
}

.sf_b--orange-500 {
  --sf-b-color: theme("colors.orange.500");
}

.sf_l--orange-600 {
  --sf-l-color: theme("colors.orange.600");
}

.sf_r--orange-600 {
  --sf-r-color: theme("colors.orange.600");
}

.sf_t--orange-600 {
  --sf-t-color: theme("colors.orange.600");
}

.sf_b--orange-600 {
  --sf-b-color: theme("colors.orange.600");
}

.sf_l--orange-700 {
  --sf-l-color: theme("colors.orange.700");
}

.sf_r--orange-700 {
  --sf-r-color: theme("colors.orange.700");
}

.sf_t--orange-700 {
  --sf-t-color: theme("colors.orange.700");
}

.sf_b--orange-700 {
  --sf-b-color: theme("colors.orange.700");
}

.sf_l--orange-800 {
  --sf-l-color: theme("colors.orange.800");
}

.sf_r--orange-800 {
  --sf-r-color: theme("colors.orange.800");
}

.sf_t--orange-800 {
  --sf-t-color: theme("colors.orange.800");
}

.sf_b--orange-800 {
  --sf-b-color: theme("colors.orange.800");
}

.sf_l--orange-900 {
  --sf-l-color: theme("colors.orange.900");
}

.sf_r--orange-900 {
  --sf-r-color: theme("colors.orange.900");
}

.sf_t--orange-900 {
  --sf-t-color: theme("colors.orange.900");
}

.sf_b--orange-900 {
  --sf-b-color: theme("colors.orange.900");
}

.sf_l--yellow-100 {
  --sf-l-color: theme("colors.yellow.100");
}

.sf_r--yellow-100 {
  --sf-r-color: theme("colors.yellow.100");
}

.sf_t--yellow-100 {
  --sf-t-color: theme("colors.yellow.100");
}

.sf_b--yellow-100 {
  --sf-b-color: theme("colors.yellow.100");
}

.sf_l--yellow-200 {
  --sf-l-color: theme("colors.yellow.200");
}

.sf_r--yellow-200 {
  --sf-r-color: theme("colors.yellow.200");
}

.sf_t--yellow-200 {
  --sf-t-color: theme("colors.yellow.200");
}

.sf_b--yellow-200 {
  --sf-b-color: theme("colors.yellow.200");
}

.sf_l--yellow-300 {
  --sf-l-color: theme("colors.yellow.300");
}

.sf_r--yellow-300 {
  --sf-r-color: theme("colors.yellow.300");
}

.sf_t--yellow-300 {
  --sf-t-color: theme("colors.yellow.300");
}

.sf_b--yellow-300 {
  --sf-b-color: theme("colors.yellow.300");
}

.sf_l--yellow-400 {
  --sf-l-color: theme("colors.yellow.400");
}

.sf_r--yellow-400 {
  --sf-r-color: theme("colors.yellow.400");
}

.sf_t--yellow-400 {
  --sf-t-color: theme("colors.yellow.400");
}

.sf_b--yellow-400 {
  --sf-b-color: theme("colors.yellow.400");
}

.sf_l--yellow-500 {
  --sf-l-color: theme("colors.yellow.500");
}

.sf_r--yellow-500 {
  --sf-r-color: theme("colors.yellow.500");
}

.sf_t--yellow-500 {
  --sf-t-color: theme("colors.yellow.500");
}

.sf_b--yellow-500 {
  --sf-b-color: theme("colors.yellow.500");
}

.sf_l--yellow-600 {
  --sf-l-color: theme("colors.yellow.600");
}

.sf_r--yellow-600 {
  --sf-r-color: theme("colors.yellow.600");
}

.sf_t--yellow-600 {
  --sf-t-color: theme("colors.yellow.600");
}

.sf_b--yellow-600 {
  --sf-b-color: theme("colors.yellow.600");
}

.sf_l--yellow-700 {
  --sf-l-color: theme("colors.yellow.700");
}

.sf_r--yellow-700 {
  --sf-r-color: theme("colors.yellow.700");
}

.sf_t--yellow-700 {
  --sf-t-color: theme("colors.yellow.700");
}

.sf_b--yellow-700 {
  --sf-b-color: theme("colors.yellow.700");
}

.sf_l--yellow-800 {
  --sf-l-color: theme("colors.yellow.800");
}

.sf_r--yellow-800 {
  --sf-r-color: theme("colors.yellow.800");
}

.sf_t--yellow-800 {
  --sf-t-color: theme("colors.yellow.800");
}

.sf_b--yellow-800 {
  --sf-b-color: theme("colors.yellow.800");
}

.sf_l--yellow-900 {
  --sf-l-color: theme("colors.yellow.900");
}

.sf_r--yellow-900 {
  --sf-r-color: theme("colors.yellow.900");
}

.sf_t--yellow-900 {
  --sf-t-color: theme("colors.yellow.900");
}

.sf_b--yellow-900 {
  --sf-b-color: theme("colors.yellow.900");
}

.sf_l--green-100 {
  --sf-l-color: theme("colors.green.100");
}

.sf_r--green-100 {
  --sf-r-color: theme("colors.green.100");
}

.sf_t--green-100 {
  --sf-t-color: theme("colors.green.100");
}

.sf_b--green-100 {
  --sf-b-color: theme("colors.green.100");
}

.sf_l--green-200 {
  --sf-l-color: theme("colors.green.200");
}

.sf_r--green-200 {
  --sf-r-color: theme("colors.green.200");
}

.sf_t--green-200 {
  --sf-t-color: theme("colors.green.200");
}

.sf_b--green-200 {
  --sf-b-color: theme("colors.green.200");
}

.sf_l--green-300 {
  --sf-l-color: theme("colors.green.300");
}

.sf_r--green-300 {
  --sf-r-color: theme("colors.green.300");
}

.sf_t--green-300 {
  --sf-t-color: theme("colors.green.300");
}

.sf_b--green-300 {
  --sf-b-color: theme("colors.green.300");
}

.sf_l--green-400 {
  --sf-l-color: theme("colors.green.400");
}

.sf_r--green-400 {
  --sf-r-color: theme("colors.green.400");
}

.sf_t--green-400 {
  --sf-t-color: theme("colors.green.400");
}

.sf_b--green-400 {
  --sf-b-color: theme("colors.green.400");
}

.sf_l--green-500 {
  --sf-l-color: theme("colors.green.500");
}

.sf_r--green-500 {
  --sf-r-color: theme("colors.green.500");
}

.sf_t--green-500 {
  --sf-t-color: theme("colors.green.500");
}

.sf_b--green-500 {
  --sf-b-color: theme("colors.green.500");
}

.sf_l--green-600 {
  --sf-l-color: theme("colors.green.600");
}

.sf_r--green-600 {
  --sf-r-color: theme("colors.green.600");
}

.sf_t--green-600 {
  --sf-t-color: theme("colors.green.600");
}

.sf_b--green-600 {
  --sf-b-color: theme("colors.green.600");
}

.sf_l--green-700 {
  --sf-l-color: theme("colors.green.700");
}

.sf_r--green-700 {
  --sf-r-color: theme("colors.green.700");
}

.sf_t--green-700 {
  --sf-t-color: theme("colors.green.700");
}

.sf_b--green-700 {
  --sf-b-color: theme("colors.green.700");
}

.sf_l--green-800 {
  --sf-l-color: theme("colors.green.800");
}

.sf_r--green-800 {
  --sf-r-color: theme("colors.green.800");
}

.sf_t--green-800 {
  --sf-t-color: theme("colors.green.800");
}

.sf_b--green-800 {
  --sf-b-color: theme("colors.green.800");
}

.sf_l--green-900 {
  --sf-l-color: theme("colors.green.900");
}

.sf_r--green-900 {
  --sf-r-color: theme("colors.green.900");
}

.sf_t--green-900 {
  --sf-t-color: theme("colors.green.900");
}

.sf_b--green-900 {
  --sf-b-color: theme("colors.green.900");
}

.sf_l--teal-100 {
  --sf-l-color: theme("colors.teal.100");
}

.sf_r--teal-100 {
  --sf-r-color: theme("colors.teal.100");
}

.sf_t--teal-100 {
  --sf-t-color: theme("colors.teal.100");
}

.sf_b--teal-100 {
  --sf-b-color: theme("colors.teal.100");
}

.sf_l--teal-200 {
  --sf-l-color: theme("colors.teal.200");
}

.sf_r--teal-200 {
  --sf-r-color: theme("colors.teal.200");
}

.sf_t--teal-200 {
  --sf-t-color: theme("colors.teal.200");
}

.sf_b--teal-200 {
  --sf-b-color: theme("colors.teal.200");
}

.sf_l--teal-300 {
  --sf-l-color: theme("colors.teal.300");
}

.sf_r--teal-300 {
  --sf-r-color: theme("colors.teal.300");
}

.sf_t--teal-300 {
  --sf-t-color: theme("colors.teal.300");
}

.sf_b--teal-300 {
  --sf-b-color: theme("colors.teal.300");
}

.sf_l--teal-400 {
  --sf-l-color: theme("colors.teal.400");
}

.sf_r--teal-400 {
  --sf-r-color: theme("colors.teal.400");
}

.sf_t--teal-400 {
  --sf-t-color: theme("colors.teal.400");
}

.sf_b--teal-400 {
  --sf-b-color: theme("colors.teal.400");
}

.sf_l--teal-500 {
  --sf-l-color: theme("colors.teal.500");
}

.sf_r--teal-500 {
  --sf-r-color: theme("colors.teal.500");
}

.sf_t--teal-500 {
  --sf-t-color: theme("colors.teal.500");
}

.sf_b--teal-500 {
  --sf-b-color: theme("colors.teal.500");
}

.sf_l--teal-600 {
  --sf-l-color: theme("colors.teal.600");
}

.sf_r--teal-600 {
  --sf-r-color: theme("colors.teal.600");
}

.sf_t--teal-600 {
  --sf-t-color: theme("colors.teal.600");
}

.sf_b--teal-600 {
  --sf-b-color: theme("colors.teal.600");
}

.sf_l--teal-700 {
  --sf-l-color: theme("colors.teal.700");
}

.sf_r--teal-700 {
  --sf-r-color: theme("colors.teal.700");
}

.sf_t--teal-700 {
  --sf-t-color: theme("colors.teal.700");
}

.sf_b--teal-700 {
  --sf-b-color: theme("colors.teal.700");
}

.sf_l--teal-800 {
  --sf-l-color: theme("colors.teal.800");
}

.sf_r--teal-800 {
  --sf-r-color: theme("colors.teal.800");
}

.sf_t--teal-800 {
  --sf-t-color: theme("colors.teal.800");
}

.sf_b--teal-800 {
  --sf-b-color: theme("colors.teal.800");
}

.sf_l--teal-900 {
  --sf-l-color: theme("colors.teal.900");
}

.sf_r--teal-900 {
  --sf-r-color: theme("colors.teal.900");
}

.sf_t--teal-900 {
  --sf-t-color: theme("colors.teal.900");
}

.sf_b--teal-900 {
  --sf-b-color: theme("colors.teal.900");
}

.sf_l--blue-100 {
  --sf-l-color: theme("colors.blue.100");
}

.sf_r--blue-100 {
  --sf-r-color: theme("colors.blue.100");
}

.sf_t--blue-100 {
  --sf-t-color: theme("colors.blue.100");
}

.sf_b--blue-100 {
  --sf-b-color: theme("colors.blue.100");
}

.sf_l--blue-200 {
  --sf-l-color: theme("colors.blue.200");
}

.sf_r--blue-200 {
  --sf-r-color: theme("colors.blue.200");
}

.sf_t--blue-200 {
  --sf-t-color: theme("colors.blue.200");
}

.sf_b--blue-200 {
  --sf-b-color: theme("colors.blue.200");
}

.sf_l--blue-300 {
  --sf-l-color: theme("colors.blue.300");
}

.sf_r--blue-300 {
  --sf-r-color: theme("colors.blue.300");
}

.sf_t--blue-300 {
  --sf-t-color: theme("colors.blue.300");
}

.sf_b--blue-300 {
  --sf-b-color: theme("colors.blue.300");
}

.sf_l--blue-400 {
  --sf-l-color: theme("colors.blue.400");
}

.sf_r--blue-400 {
  --sf-r-color: theme("colors.blue.400");
}

.sf_t--blue-400 {
  --sf-t-color: theme("colors.blue.400");
}

.sf_b--blue-400 {
  --sf-b-color: theme("colors.blue.400");
}

.sf_l--blue-500 {
  --sf-l-color: theme("colors.blue.500");
}

.sf_r--blue-500 {
  --sf-r-color: theme("colors.blue.500");
}

.sf_t--blue-500 {
  --sf-t-color: theme("colors.blue.500");
}

.sf_b--blue-500 {
  --sf-b-color: theme("colors.blue.500");
}

.sf_l--blue-600 {
  --sf-l-color: theme("colors.blue.600");
}

.sf_r--blue-600 {
  --sf-r-color: theme("colors.blue.600");
}

.sf_t--blue-600 {
  --sf-t-color: theme("colors.blue.600");
}

.sf_b--blue-600 {
  --sf-b-color: theme("colors.blue.600");
}

.sf_l--blue-700 {
  --sf-l-color: theme("colors.blue.700");
}

.sf_r--blue-700 {
  --sf-r-color: theme("colors.blue.700");
}

.sf_t--blue-700 {
  --sf-t-color: theme("colors.blue.700");
}

.sf_b--blue-700 {
  --sf-b-color: theme("colors.blue.700");
}

.sf_l--blue-800 {
  --sf-l-color: theme("colors.blue.800");
}

.sf_r--blue-800 {
  --sf-r-color: theme("colors.blue.800");
}

.sf_t--blue-800 {
  --sf-t-color: theme("colors.blue.800");
}

.sf_b--blue-800 {
  --sf-b-color: theme("colors.blue.800");
}

.sf_l--blue-900 {
  --sf-l-color: theme("colors.blue.900");
}

.sf_r--blue-900 {
  --sf-r-color: theme("colors.blue.900");
}

.sf_t--blue-900 {
  --sf-t-color: theme("colors.blue.900");
}

.sf_b--blue-900 {
  --sf-b-color: theme("colors.blue.900");
}

.sf_l--indigo-100 {
  --sf-l-color: theme("colors.indigo.100");
}

.sf_r--indigo-100 {
  --sf-r-color: theme("colors.indigo.100");
}

.sf_t--indigo-100 {
  --sf-t-color: theme("colors.indigo.100");
}

.sf_b--indigo-100 {
  --sf-b-color: theme("colors.indigo.100");
}

.sf_l--indigo-200 {
  --sf-l-color: theme("colors.indigo.200");
}

.sf_r--indigo-200 {
  --sf-r-color: theme("colors.indigo.200");
}

.sf_t--indigo-200 {
  --sf-t-color: theme("colors.indigo.200");
}

.sf_b--indigo-200 {
  --sf-b-color: theme("colors.indigo.200");
}

.sf_l--indigo-300 {
  --sf-l-color: theme("colors.indigo.300");
}

.sf_r--indigo-300 {
  --sf-r-color: theme("colors.indigo.300");
}

.sf_t--indigo-300 {
  --sf-t-color: theme("colors.indigo.300");
}

.sf_b--indigo-300 {
  --sf-b-color: theme("colors.indigo.300");
}

.sf_l--indigo-400 {
  --sf-l-color: theme("colors.indigo.400");
}

.sf_r--indigo-400 {
  --sf-r-color: theme("colors.indigo.400");
}

.sf_t--indigo-400 {
  --sf-t-color: theme("colors.indigo.400");
}

.sf_b--indigo-400 {
  --sf-b-color: theme("colors.indigo.400");
}

.sf_l--indigo-500 {
  --sf-l-color: theme("colors.indigo.500");
}

.sf_r--indigo-500 {
  --sf-r-color: theme("colors.indigo.500");
}

.sf_t--indigo-500 {
  --sf-t-color: theme("colors.indigo.500");
}

.sf_b--indigo-500 {
  --sf-b-color: theme("colors.indigo.500");
}

.sf_l--indigo-600 {
  --sf-l-color: theme("colors.indigo.600");
}

.sf_r--indigo-600 {
  --sf-r-color: theme("colors.indigo.600");
}

.sf_t--indigo-600 {
  --sf-t-color: theme("colors.indigo.600");
}

.sf_b--indigo-600 {
  --sf-b-color: theme("colors.indigo.600");
}

.sf_l--indigo-700 {
  --sf-l-color: theme("colors.indigo.700");
}

.sf_r--indigo-700 {
  --sf-r-color: theme("colors.indigo.700");
}

.sf_t--indigo-700 {
  --sf-t-color: theme("colors.indigo.700");
}

.sf_b--indigo-700 {
  --sf-b-color: theme("colors.indigo.700");
}

.sf_l--indigo-800 {
  --sf-l-color: theme("colors.indigo.800");
}

.sf_r--indigo-800 {
  --sf-r-color: theme("colors.indigo.800");
}

.sf_t--indigo-800 {
  --sf-t-color: theme("colors.indigo.800");
}

.sf_b--indigo-800 {
  --sf-b-color: theme("colors.indigo.800");
}

.sf_l--indigo-900 {
  --sf-l-color: theme("colors.indigo.900");
}

.sf_r--indigo-900 {
  --sf-r-color: theme("colors.indigo.900");
}

.sf_t--indigo-900 {
  --sf-t-color: theme("colors.indigo.900");
}

.sf_b--indigo-900 {
  --sf-b-color: theme("colors.indigo.900");
}

.sf_l--purple-100 {
  --sf-l-color: theme("colors.purple.100");
}

.sf_r--purple-100 {
  --sf-r-color: theme("colors.purple.100");
}

.sf_t--purple-100 {
  --sf-t-color: theme("colors.purple.100");
}

.sf_b--purple-100 {
  --sf-b-color: theme("colors.purple.100");
}

.sf_l--purple-200 {
  --sf-l-color: theme("colors.purple.200");
}

.sf_r--purple-200 {
  --sf-r-color: theme("colors.purple.200");
}

.sf_t--purple-200 {
  --sf-t-color: theme("colors.purple.200");
}

.sf_b--purple-200 {
  --sf-b-color: theme("colors.purple.200");
}

.sf_l--purple-300 {
  --sf-l-color: theme("colors.purple.300");
}

.sf_r--purple-300 {
  --sf-r-color: theme("colors.purple.300");
}

.sf_t--purple-300 {
  --sf-t-color: theme("colors.purple.300");
}

.sf_b--purple-300 {
  --sf-b-color: theme("colors.purple.300");
}

.sf_l--purple-400 {
  --sf-l-color: theme("colors.purple.400");
}

.sf_r--purple-400 {
  --sf-r-color: theme("colors.purple.400");
}

.sf_t--purple-400 {
  --sf-t-color: theme("colors.purple.400");
}

.sf_b--purple-400 {
  --sf-b-color: theme("colors.purple.400");
}

.sf_l--purple-500 {
  --sf-l-color: theme("colors.purple.500");
}

.sf_r--purple-500 {
  --sf-r-color: theme("colors.purple.500");
}

.sf_t--purple-500 {
  --sf-t-color: theme("colors.purple.500");
}

.sf_b--purple-500 {
  --sf-b-color: theme("colors.purple.500");
}

.sf_l--purple-600 {
  --sf-l-color: theme("colors.purple.600");
}

.sf_r--purple-600 {
  --sf-r-color: theme("colors.purple.600");
}

.sf_t--purple-600 {
  --sf-t-color: theme("colors.purple.600");
}

.sf_b--purple-600 {
  --sf-b-color: theme("colors.purple.600");
}

.sf_l--purple-700 {
  --sf-l-color: theme("colors.purple.700");
}

.sf_r--purple-700 {
  --sf-r-color: theme("colors.purple.700");
}

.sf_t--purple-700 {
  --sf-t-color: theme("colors.purple.700");
}

.sf_b--purple-700 {
  --sf-b-color: theme("colors.purple.700");
}

.sf_l--purple-800 {
  --sf-l-color: theme("colors.purple.800");
}

.sf_r--purple-800 {
  --sf-r-color: theme("colors.purple.800");
}

.sf_t--purple-800 {
  --sf-t-color: theme("colors.purple.800");
}

.sf_b--purple-800 {
  --sf-b-color: theme("colors.purple.800");
}

.sf_l--purple-900 {
  --sf-l-color: theme("colors.purple.900");
}

.sf_r--purple-900 {
  --sf-r-color: theme("colors.purple.900");
}

.sf_t--purple-900 {
  --sf-t-color: theme("colors.purple.900");
}

.sf_b--purple-900 {
  --sf-b-color: theme("colors.purple.900");
}

.sf_l--pink-100 {
  --sf-l-color: theme("colors.pink.100");
}

.sf_r--pink-100 {
  --sf-r-color: theme("colors.pink.100");
}

.sf_t--pink-100 {
  --sf-t-color: theme("colors.pink.100");
}

.sf_b--pink-100 {
  --sf-b-color: theme("colors.pink.100");
}

.sf_l--pink-200 {
  --sf-l-color: theme("colors.pink.200");
}

.sf_r--pink-200 {
  --sf-r-color: theme("colors.pink.200");
}

.sf_t--pink-200 {
  --sf-t-color: theme("colors.pink.200");
}

.sf_b--pink-200 {
  --sf-b-color: theme("colors.pink.200");
}

.sf_l--pink-300 {
  --sf-l-color: theme("colors.pink.300");
}

.sf_r--pink-300 {
  --sf-r-color: theme("colors.pink.300");
}

.sf_t--pink-300 {
  --sf-t-color: theme("colors.pink.300");
}

.sf_b--pink-300 {
  --sf-b-color: theme("colors.pink.300");
}

.sf_l--pink-400 {
  --sf-l-color: theme("colors.pink.400");
}

.sf_r--pink-400 {
  --sf-r-color: theme("colors.pink.400");
}

.sf_t--pink-400 {
  --sf-t-color: theme("colors.pink.400");
}

.sf_b--pink-400 {
  --sf-b-color: theme("colors.pink.400");
}

.sf_l--pink-500 {
  --sf-l-color: theme("colors.pink.500");
}

.sf_r--pink-500 {
  --sf-r-color: theme("colors.pink.500");
}

.sf_t--pink-500 {
  --sf-t-color: theme("colors.pink.500");
}

.sf_b--pink-500 {
  --sf-b-color: theme("colors.pink.500");
}

.sf_l--pink-600 {
  --sf-l-color: theme("colors.pink.600");
}

.sf_r--pink-600 {
  --sf-r-color: theme("colors.pink.600");
}

.sf_t--pink-600 {
  --sf-t-color: theme("colors.pink.600");
}

.sf_b--pink-600 {
  --sf-b-color: theme("colors.pink.600");
}

.sf_l--pink-700 {
  --sf-l-color: theme("colors.pink.700");
}

.sf_r--pink-700 {
  --sf-r-color: theme("colors.pink.700");
}

.sf_t--pink-700 {
  --sf-t-color: theme("colors.pink.700");
}

.sf_b--pink-700 {
  --sf-b-color: theme("colors.pink.700");
}

.sf_l--pink-800 {
  --sf-l-color: theme("colors.pink.800");
}

.sf_r--pink-800 {
  --sf-r-color: theme("colors.pink.800");
}

.sf_t--pink-800 {
  --sf-t-color: theme("colors.pink.800");
}

.sf_b--pink-800 {
  --sf-b-color: theme("colors.pink.800");
}

.sf_l--pink-900 {
  --sf-l-color: theme("colors.pink.900");
}

.sf_r--pink-900 {
  --sf-r-color: theme("colors.pink.900");
}

.sf_t--pink-900 {
  --sf-t-color: theme("colors.pink.900");
}

.sf_b--pink-900 {
  --sf-b-color: theme("colors.pink.900");
}

.sf_l--black {
  --sf-l-color: theme("colors.black");
}

.sf_r--black {
  --sf-r-color: theme("colors.black");
}

.sf_t--black {
  --sf-t-color: theme("colors.black");
}

.sf_b--black {
  --sf-b-color: theme("colors.black");
}

.sf_l--white {
  --sf-l-color: theme("colors.white");
}

.sf_r--white {
  --sf-r-color: theme("colors.white");
}

.sf_t--white {
  --sf-t-color: theme("colors.white");
}

.sf_b--white {
  --sf-b-color: theme("colors.white");
}

.sf_l--inner {
  --sf-l-inner: inset;
}

.sf_r--inner {
  --sf-r-inner: inset;
}

.sf_t--inner {
  --sf-t-inner: inset;
}

.sf_b--inner {
  --sf-b-inner: inset;
}

/*# sourceMappingURL=dev.css.map */
