@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .neomorphism {
        --nmp-light: rgba(0, 0, 0, 0);
        --nmp-shadow: rgba(0, 0, 0, 0);
        --nmp-inner: ;
        --nmp-size: 0px;
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
        --nmp-light-w: 0;
        --nmp-light-h: 0;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 0;
        box-shadow: var(--nmp-inner) calc(var(--nmp-shadow-w) * var(--nmp-size))
                calc(var(--nmp-shadow-h) * var(--nmp-size)) var(--nmp-shadow-blur) var(--nmp-shadow),
            var(--nmp-inner) calc(var(--nmp-light-w) * var(--nmp-size)) calc(var(--nmp-light-h) * var(--nmp-size))
                var(--nmp-light-blur) var(--nmp-light);
    }

    .neomorphism-drop {
        --nmp-light: rgba(0, 0, 0, 0);
        --nmp-shadow: rgba(0, 0, 0, 0);
        --nmp-size: 0px;
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
        --nmp-light-w: 0;
        --nmp-light-h: 0;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 0;
        -webkit-filter: drop-shadow(
                calc(var(--nmp-shadow-w) * var(--nmp-size)) calc(var(--nmp-shadow-h) * var(--nmp-size))
                    var(--nmp-shadow-blur) var(--nmp-shadow)
            )
            drop-shadow(
                calc(var(--nmp-light-w) * var(--nmp-size)) calc(var(--nmp-light-h) * var(--nmp-size))
                    var(--nmp-light-blur) var(--nmp-light)
            );
        filter: drop-shadow(
                calc(var(--nmp-shadow-w) * var(--nmp-size)) calc(var(--nmp-shadow-h) * var(--nmp-size))
                    var(--nmp-shadow-blur) var(--nmp-shadow)
            )
            drop-shadow(
                calc(var(--nmp-light-w) * var(--nmp-size)) calc(var(--nmp-light-h) * var(--nmp-size))
                    var(--nmp-light-blur) var(--nmp-light)
            );
    }

    .neomorphism-text {
        --nmp-light: rgba(0, 0, 0, 0);
        --nmp-shadow: rgba(0, 0, 0, 0);
        --nmp-size: 0px;
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
        --nmp-light-w: 0;
        --nmp-light-h: 0;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 0;
        text-shadow: calc(var(--nmp-shadow-w) * var(--nmp-size)) calc(var(--nmp-shadow-h) * var(--nmp-size))
                var(--nmp-shadow-blur) var(--nmp-shadow),
            calc(var(--nmp-light-w) * var(--nmp-size)) calc(var(--nmp-light-h) * var(--nmp-size)) var(--nmp-light-blur)
                var(--nmp-light);
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-l {
        --nmp-light-w: -1;
        --nmp-light-h: 0;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: 0;
    }
    .nmp-r {
        --nmp-light-w: 1;
        --nmp-light-h: 0;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: 0;
    }

    .nmp-t {
        --nmp-light-w: 0;
        --nmp-light-h: -1;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: 1;
    }

    .nmp-b {
        --nmp-light-w: 0;
        --nmp-light-h: 1;
        --nmp-shadow-w: 0;
        --nmp-shadow-h: -1;
    }

    .nmp-lt {
        --nmp-light-w: -1;
        --nmp-light-h: -1;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: 1;
    }
    .nmp-rb {
        --nmp-light-w: 1;
        --nmp-light-h: 1;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: -1;
    }

    .nmp-rt {
        --nmp-light-w: 1;
        --nmp-light-h: -1;
        --nmp-shadow-w: -1;
        --nmp-shadow-h: 1;
    }

    .nmp-lb {
        --nmp-light-w: -1;
        --nmp-light-h: 1;
        --nmp-shadow-w: 1;
        --nmp-shadow-h: -1;
    }

    .nmp-inner {
        --nmp-inner: inset;
    }

    .nmp-outer {
        --nmp-inner: ;
    }

    .nmp-xs {
        --nmp-size: 3px;
    }

    .nmp-sm {
        --nmp-size: 7px;
    }

    .nmp-base {
        --nmp-size: 11px;
    }

    .nmp-md {
        --nmp-size: 15px;
    }

    .nmp-lg {
        --nmp-size: 20px;
    }

    .nmp-xl {
        --nmp-size: 25px;
    }

    .nmp-2xl {
        --nmp-size: 30px;
    }

    .nmp-3xl {
        --nmp-size: 35px;
    }

    .nmp-4xl {
        --nmp-size: 40px;
    }

    .nmp-5xl {
        --nmp-size: 45px;
    }

    .nmp-6xl {
        --nmp-size: 50px;
    }

    .nmp-blur-sm {
        --nmp-light-blur: calc(1 * var(--nmp-size));
        --nmp-shadow-blur: calc(1 * var(--nmp-size));
    }

    .nmp-blur-base {
        --nmp-light-blur: calc(2 * var(--nmp-size));
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
    }

    .nmp-blur-lg {
        --nmp-light-blur: calc(3 * var(--nmp-size));
        --nmp-shadow-blur: calc(3 * var(--nmp-size));
    }

    .nmp-light-blur-sm {
        --nmp-light-blur: calc(1 * var(--nmp-size));
    }

    .nmp-light-blur-base {
        --nmp-light-blur: calc(2 * var(--nmp-size));
    }

    .nmp-light-blur-lg {
        --nmp-light-blur: calc(3 * var(--nmp-size));
    }

    .nmp-shadow-blur-sm {
        --nmp-shadow-blur: calc(1 * var(--nmp-size));
    }

    .nmp-shadow-blur-base {
        --nmp-shadow-blur: calc(2 * var(--nmp-size));
    }

    .nmp-shadow-blur-lg {
        --nmp-shadow-blur: calc(3 * var(--nmp-size));
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-black {
        --nmp-light: theme("colors.black");
    }
    .nmp-light-white {
        --nmp-light: theme("colors.white");
    }
    .nmp-light-transparent {
        --nmp-light: theme("colors.transparent");
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-gray-100 {
        --nmp-light: theme("colors.gray.100");
    }
    .nmp-light-gray-200 {
        --nmp-light: theme("colors.gray.200");
    }
    .nmp-light-gray-300 {
        --nmp-light: theme("colors.gray.300");
    }
    .nmp-light-gray-400 {
        --nmp-light: theme("colors.gray.400");
    }
    .nmp-light-gray-500 {
        --nmp-light: theme("colors.gray.500");
    }
    .nmp-light-gray-600 {
        --nmp-light: theme("colors.gray.600");
    }
    .nmp-light-gray-700 {
        --nmp-light: theme("colors.gray.700");
    }
    .nmp-light-gray-800 {
        --nmp-light: theme("colors.gray.800");
    }
    .nmp-light-gray-900 {
        --nmp-light: theme("colors.gray.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-red-100 {
        --nmp-light: theme("colors.red.100");
    }
    .nmp-light-red-200 {
        --nmp-light: theme("colors.red.200");
    }
    .nmp-light-red-300 {
        --nmp-light: theme("colors.red.300");
    }
    .nmp-light-red-400 {
        --nmp-light: theme("colors.red.400");
    }
    .nmp-light-red-500 {
        --nmp-light: theme("colors.red.500");
    }
    .nmp-light-red-600 {
        --nmp-light: theme("colors.red.600");
    }
    .nmp-light-red-700 {
        --nmp-light: theme("colors.red.700");
    }
    .nmp-light-red-800 {
        --nmp-light: theme("colors.red.800");
    }
    .nmp-light-red-900 {
        --nmp-light: theme("colors.red.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-orange-100 {
        --nmp-light: theme("colors.orange.100");
    }
    .nmp-light-orange-200 {
        --nmp-light: theme("colors.orange.200");
    }
    .nmp-light-orange-300 {
        --nmp-light: theme("colors.orange.300");
    }
    .nmp-light-orange-400 {
        --nmp-light: theme("colors.orange.400");
    }
    .nmp-light-orange-500 {
        --nmp-light: theme("colors.orange.500");
    }
    .nmp-light-orange-600 {
        --nmp-light: theme("colors.orange.600");
    }
    .nmp-light-orange-700 {
        --nmp-light: theme("colors.orange.700");
    }
    .nmp-light-orange-800 {
        --nmp-light: theme("colors.orange.800");
    }
    .nmp-light-orange-900 {
        --nmp-light: theme("colors.orange.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-yellow-100 {
        --nmp-light: theme("colors.yellow.100");
    }
    .nmp-light-yellow-200 {
        --nmp-light: theme("colors.yellow.200");
    }
    .nmp-light-yellow-300 {
        --nmp-light: theme("colors.yellow.300");
    }
    .nmp-light-yellow-400 {
        --nmp-light: theme("colors.yellow.400");
    }
    .nmp-light-yellow-500 {
        --nmp-light: theme("colors.yellow.500");
    }
    .nmp-light-yellow-600 {
        --nmp-light: theme("colors.yellow.600");
    }
    .nmp-light-yellow-700 {
        --nmp-light: theme("colors.yellow.700");
    }
    .nmp-light-yellow-800 {
        --nmp-light: theme("colors.yellow.800");
    }
    .nmp-light-yellow-900 {
        --nmp-light: theme("colors.yellow.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-green-100 {
        --nmp-light: theme("colors.green.100");
    }
    .nmp-light-green-200 {
        --nmp-light: theme("colors.green.200");
    }
    .nmp-light-green-300 {
        --nmp-light: theme("colors.green.300");
    }
    .nmp-light-green-400 {
        --nmp-light: theme("colors.green.400");
    }
    .nmp-light-green-500 {
        --nmp-light: theme("colors.green.500");
    }
    .nmp-light-green-600 {
        --nmp-light: theme("colors.green.600");
    }
    .nmp-light-green-700 {
        --nmp-light: theme("colors.green.700");
    }
    .nmp-light-green-800 {
        --nmp-light: theme("colors.green.800");
    }
    .nmp-light-green-900 {
        --nmp-light: theme("colors.green.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-teal-100 {
        --nmp-light: theme("colors.teal.100");
    }
    .nmp-light-teal-200 {
        --nmp-light: theme("colors.teal.200");
    }
    .nmp-light-teal-300 {
        --nmp-light: theme("colors.teal.300");
    }
    .nmp-light-teal-400 {
        --nmp-light: theme("colors.teal.400");
    }
    .nmp-light-teal-500 {
        --nmp-light: theme("colors.teal.500");
    }
    .nmp-light-teal-600 {
        --nmp-light: theme("colors.teal.600");
    }
    .nmp-light-teal-700 {
        --nmp-light: theme("colors.teal.700");
    }
    .nmp-light-teal-800 {
        --nmp-light: theme("colors.teal.800");
    }
    .nmp-light-teal-900 {
        --nmp-light: theme("colors.teal.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-blue-100 {
        --nmp-light: theme("colors.blue.100");
    }
    .nmp-light-blue-200 {
        --nmp-light: theme("colors.blue.200");
    }
    .nmp-light-blue-300 {
        --nmp-light: theme("colors.blue.300");
    }
    .nmp-light-blue-400 {
        --nmp-light: theme("colors.blue.400");
    }
    .nmp-light-blue-500 {
        --nmp-light: theme("colors.blue.500");
    }
    .nmp-light-blue-600 {
        --nmp-light: theme("colors.blue.600");
    }
    .nmp-light-blue-700 {
        --nmp-light: theme("colors.blue.700");
    }
    .nmp-light-blue-800 {
        --nmp-light: theme("colors.blue.800");
    }
    .nmp-light-blue-900 {
        --nmp-light: theme("colors.blue.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-indigo-100 {
        --nmp-light: theme("colors.indigo.100");
    }
    .nmp-light-indigo-200 {
        --nmp-light: theme("colors.indigo.200");
    }
    .nmp-light-indigo-300 {
        --nmp-light: theme("colors.indigo.300");
    }
    .nmp-light-indigo-400 {
        --nmp-light: theme("colors.indigo.400");
    }
    .nmp-light-indigo-500 {
        --nmp-light: theme("colors.indigo.500");
    }
    .nmp-light-indigo-600 {
        --nmp-light: theme("colors.indigo.600");
    }
    .nmp-light-indigo-700 {
        --nmp-light: theme("colors.indigo.700");
    }
    .nmp-light-indigo-800 {
        --nmp-light: theme("colors.indigo.800");
    }
    .nmp-light-indigo-900 {
        --nmp-light: theme("colors.indigo.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-purple-100 {
        --nmp-light: theme("colors.purple.100");
    }
    .nmp-light-purple-200 {
        --nmp-light: theme("colors.purple.200");
    }
    .nmp-light-purple-300 {
        --nmp-light: theme("colors.purple.300");
    }
    .nmp-light-purple-400 {
        --nmp-light: theme("colors.purple.400");
    }
    .nmp-light-purple-500 {
        --nmp-light: theme("colors.purple.500");
    }
    .nmp-light-purple-600 {
        --nmp-light: theme("colors.purple.600");
    }
    .nmp-light-purple-700 {
        --nmp-light: theme("colors.purple.700");
    }
    .nmp-light-purple-800 {
        --nmp-light: theme("colors.purple.800");
    }
    .nmp-light-purple-900 {
        --nmp-light: theme("colors.purple.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-light-pink-100 {
        --nmp-light: theme("colors.pink.100");
    }
    .nmp-light-pink-200 {
        --nmp-light: theme("colors.pink.200");
    }
    .nmp-light-pink-300 {
        --nmp-light: theme("colors.pink.300");
    }
    .nmp-light-pink-400 {
        --nmp-light: theme("colors.pink.400");
    }
    .nmp-light-pink-500 {
        --nmp-light: theme("colors.pink.500");
    }
    .nmp-light-pink-600 {
        --nmp-light: theme("colors.pink.600");
    }
    .nmp-light-pink-700 {
        --nmp-light: theme("colors.pink.700");
    }
    .nmp-light-pink-800 {
        --nmp-light: theme("colors.pink.800");
    }
    .nmp-light-pink-900 {
        --nmp-light: theme("colors.pink.900");
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-black {
        --nmp-shadow: theme("colors.black");
    }
    .nmp-shadow-white {
        --nmp-shadow: theme("colors.white");
    }
    .nmp-shadow-transparent {
        --nmp-shadow: theme("colors.transparent");
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-gray-100 {
        --nmp-shadow: theme("colors.gray.100");
    }
    .nmp-shadow-gray-200 {
        --nmp-shadow: theme("colors.gray.200");
    }
    .nmp-shadow-gray-300 {
        --nmp-shadow: theme("colors.gray.300");
    }
    .nmp-shadow-gray-400 {
        --nmp-shadow: theme("colors.gray.400");
    }
    .nmp-shadow-gray-500 {
        --nmp-shadow: theme("colors.gray.500");
    }
    .nmp-shadow-gray-600 {
        --nmp-shadow: theme("colors.gray.600");
    }
    .nmp-shadow-gray-700 {
        --nmp-shadow: theme("colors.gray.700");
    }
    .nmp-shadow-gray-800 {
        --nmp-shadow: theme("colors.gray.800");
    }
    .nmp-shadow-gray-900 {
        --nmp-shadow: theme("colors.gray.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-red-100 {
        --nmp-shadow: theme("colors.red.100");
    }
    .nmp-shadow-red-200 {
        --nmp-shadow: theme("colors.red.200");
    }
    .nmp-shadow-red-300 {
        --nmp-shadow: theme("colors.red.300");
    }
    .nmp-shadow-red-400 {
        --nmp-shadow: theme("colors.red.400");
    }
    .nmp-shadow-red-500 {
        --nmp-shadow: theme("colors.red.500");
    }
    .nmp-shadow-red-600 {
        --nmp-shadow: theme("colors.red.600");
    }
    .nmp-shadow-red-700 {
        --nmp-shadow: theme("colors.red.700");
    }
    .nmp-shadow-red-800 {
        --nmp-shadow: theme("colors.red.800");
    }
    .nmp-shadow-red-900 {
        --nmp-shadow: theme("colors.red.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-orange-100 {
        --nmp-shadow: theme("colors.orange.100");
    }
    .nmp-shadow-orange-200 {
        --nmp-shadow: theme("colors.orange.200");
    }
    .nmp-shadow-orange-300 {
        --nmp-shadow: theme("colors.orange.300");
    }
    .nmp-shadow-orange-400 {
        --nmp-shadow: theme("colors.orange.400");
    }
    .nmp-shadow-orange-500 {
        --nmp-shadow: theme("colors.orange.500");
    }
    .nmp-shadow-orange-600 {
        --nmp-shadow: theme("colors.orange.600");
    }
    .nmp-shadow-orange-700 {
        --nmp-shadow: theme("colors.orange.700");
    }
    .nmp-shadow-orange-800 {
        --nmp-shadow: theme("colors.orange.800");
    }
    .nmp-shadow-orange-900 {
        --nmp-shadow: theme("colors.orange.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-yellow-100 {
        --nmp-shadow: theme("colors.yellow.100");
    }
    .nmp-shadow-yellow-200 {
        --nmp-shadow: theme("colors.yellow.200");
    }
    .nmp-shadow-yellow-300 {
        --nmp-shadow: theme("colors.yellow.300");
    }
    .nmp-shadow-yellow-400 {
        --nmp-shadow: theme("colors.yellow.400");
    }
    .nmp-shadow-yellow-500 {
        --nmp-shadow: theme("colors.yellow.500");
    }
    .nmp-shadow-yellow-600 {
        --nmp-shadow: theme("colors.yellow.600");
    }
    .nmp-shadow-yellow-700 {
        --nmp-shadow: theme("colors.yellow.700");
    }
    .nmp-shadow-yellow-800 {
        --nmp-shadow: theme("colors.yellow.800");
    }
    .nmp-shadow-yellow-900 {
        --nmp-shadow: theme("colors.yellow.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-green-100 {
        --nmp-shadow: theme("colors.green.100");
    }
    .nmp-shadow-green-200 {
        --nmp-shadow: theme("colors.green.200");
    }
    .nmp-shadow-green-300 {
        --nmp-shadow: theme("colors.green.300");
    }
    .nmp-shadow-green-400 {
        --nmp-shadow: theme("colors.green.400");
    }
    .nmp-shadow-green-500 {
        --nmp-shadow: theme("colors.green.500");
    }
    .nmp-shadow-green-600 {
        --nmp-shadow: theme("colors.green.600");
    }
    .nmp-shadow-green-700 {
        --nmp-shadow: theme("colors.green.700");
    }
    .nmp-shadow-green-800 {
        --nmp-shadow: theme("colors.green.800");
    }
    .nmp-shadow-green-900 {
        --nmp-shadow: theme("colors.green.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-teal-100 {
        --nmp-shadow: theme("colors.teal.100");
    }
    .nmp-shadow-teal-200 {
        --nmp-shadow: theme("colors.teal.200");
    }
    .nmp-shadow-teal-300 {
        --nmp-shadow: theme("colors.teal.300");
    }
    .nmp-shadow-teal-400 {
        --nmp-shadow: theme("colors.teal.400");
    }
    .nmp-shadow-teal-500 {
        --nmp-shadow: theme("colors.teal.500");
    }
    .nmp-shadow-teal-600 {
        --nmp-shadow: theme("colors.teal.600");
    }
    .nmp-shadow-teal-700 {
        --nmp-shadow: theme("colors.teal.700");
    }
    .nmp-shadow-teal-800 {
        --nmp-shadow: theme("colors.teal.800");
    }
    .nmp-shadow-teal-900 {
        --nmp-shadow: theme("colors.teal.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-blue-100 {
        --nmp-shadow: theme("colors.blue.100");
    }
    .nmp-shadow-blue-200 {
        --nmp-shadow: theme("colors.blue.200");
    }
    .nmp-shadow-blue-300 {
        --nmp-shadow: theme("colors.blue.300");
    }
    .nmp-shadow-blue-400 {
        --nmp-shadow: theme("colors.blue.400");
    }
    .nmp-shadow-blue-500 {
        --nmp-shadow: theme("colors.blue.500");
    }
    .nmp-shadow-blue-600 {
        --nmp-shadow: theme("colors.blue.600");
    }
    .nmp-shadow-blue-700 {
        --nmp-shadow: theme("colors.blue.700");
    }
    .nmp-shadow-blue-800 {
        --nmp-shadow: theme("colors.blue.800");
    }
    .nmp-shadow-blue-900 {
        --nmp-shadow: theme("colors.blue.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-indigo-100 {
        --nmp-shadow: theme("colors.indigo.100");
    }
    .nmp-shadow-indigo-200 {
        --nmp-shadow: theme("colors.indigo.200");
    }
    .nmp-shadow-indigo-300 {
        --nmp-shadow: theme("colors.indigo.300");
    }
    .nmp-shadow-indigo-400 {
        --nmp-shadow: theme("colors.indigo.400");
    }
    .nmp-shadow-indigo-500 {
        --nmp-shadow: theme("colors.indigo.500");
    }
    .nmp-shadow-indigo-600 {
        --nmp-shadow: theme("colors.indigo.600");
    }
    .nmp-shadow-indigo-700 {
        --nmp-shadow: theme("colors.indigo.700");
    }
    .nmp-shadow-indigo-800 {
        --nmp-shadow: theme("colors.indigo.800");
    }
    .nmp-shadow-indigo-900 {
        --nmp-shadow: theme("colors.indigo.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-purple-100 {
        --nmp-shadow: theme("colors.purple.100");
    }
    .nmp-shadow-purple-200 {
        --nmp-shadow: theme("colors.purple.200");
    }
    .nmp-shadow-purple-300 {
        --nmp-shadow: theme("colors.purple.300");
    }
    .nmp-shadow-purple-400 {
        --nmp-shadow: theme("colors.purple.400");
    }
    .nmp-shadow-purple-500 {
        --nmp-shadow: theme("colors.purple.500");
    }
    .nmp-shadow-purple-600 {
        --nmp-shadow: theme("colors.purple.600");
    }
    .nmp-shadow-purple-700 {
        --nmp-shadow: theme("colors.purple.700");
    }
    .nmp-shadow-purple-800 {
        --nmp-shadow: theme("colors.purple.800");
    }
    .nmp-shadow-purple-900 {
        --nmp-shadow: theme("colors.purple.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-pink-100 {
        --nmp-shadow: theme("colors.pink.100");
    }
    .nmp-shadow-pink-200 {
        --nmp-shadow: theme("colors.pink.200");
    }
    .nmp-shadow-pink-300 {
        --nmp-shadow: theme("colors.pink.300");
    }
    .nmp-shadow-pink-400 {
        --nmp-shadow: theme("colors.pink.400");
    }
    .nmp-shadow-pink-500 {
        --nmp-shadow: theme("colors.pink.500");
    }
    .nmp-shadow-pink-600 {
        --nmp-shadow: theme("colors.pink.600");
    }
    .nmp-shadow-pink-700 {
        --nmp-shadow: theme("colors.pink.700");
    }
    .nmp-shadow-pink-800 {
        --nmp-shadow: theme("colors.pink.800");
    }
    .nmp-shadow-pink-900 {
        --nmp-shadow: theme("colors.pink.900");
    }
}
