@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-black {
        --nmp-shadow: theme("colors.black");
    }
    .nmp-shadow-white {
        --nmp-shadow: theme("colors.white");
    }
    .nmp-shadow-transparent {
        --nmp-shadow: theme("colors.transparent");
    }
}

@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-gray-100 {
        --nmp-shadow: theme("colors.gray.100");
    }
    .nmp-shadow-gray-200 {
        --nmp-shadow: theme("colors.gray.200");
    }
    .nmp-shadow-gray-300 {
        --nmp-shadow: theme("colors.gray.300");
    }
    .nmp-shadow-gray-400 {
        --nmp-shadow: theme("colors.gray.400");
    }
    .nmp-shadow-gray-500 {
        --nmp-shadow: theme("colors.gray.500");
    }
    .nmp-shadow-gray-600 {
        --nmp-shadow: theme("colors.gray.600");
    }
    .nmp-shadow-gray-700 {
        --nmp-shadow: theme("colors.gray.700");
    }
    .nmp-shadow-gray-800 {
        --nmp-shadow: theme("colors.gray.800");
    }
    .nmp-shadow-gray-900 {
        --nmp-shadow: theme("colors.gray.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-red-100 {
        --nmp-shadow: theme("colors.red.100");
    }
    .nmp-shadow-red-200 {
        --nmp-shadow: theme("colors.red.200");
    }
    .nmp-shadow-red-300 {
        --nmp-shadow: theme("colors.red.300");
    }
    .nmp-shadow-red-400 {
        --nmp-shadow: theme("colors.red.400");
    }
    .nmp-shadow-red-500 {
        --nmp-shadow: theme("colors.red.500");
    }
    .nmp-shadow-red-600 {
        --nmp-shadow: theme("colors.red.600");
    }
    .nmp-shadow-red-700 {
        --nmp-shadow: theme("colors.red.700");
    }
    .nmp-shadow-red-800 {
        --nmp-shadow: theme("colors.red.800");
    }
    .nmp-shadow-red-900 {
        --nmp-shadow: theme("colors.red.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-orange-100 {
        --nmp-shadow: theme("colors.orange.100");
    }
    .nmp-shadow-orange-200 {
        --nmp-shadow: theme("colors.orange.200");
    }
    .nmp-shadow-orange-300 {
        --nmp-shadow: theme("colors.orange.300");
    }
    .nmp-shadow-orange-400 {
        --nmp-shadow: theme("colors.orange.400");
    }
    .nmp-shadow-orange-500 {
        --nmp-shadow: theme("colors.orange.500");
    }
    .nmp-shadow-orange-600 {
        --nmp-shadow: theme("colors.orange.600");
    }
    .nmp-shadow-orange-700 {
        --nmp-shadow: theme("colors.orange.700");
    }
    .nmp-shadow-orange-800 {
        --nmp-shadow: theme("colors.orange.800");
    }
    .nmp-shadow-orange-900 {
        --nmp-shadow: theme("colors.orange.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-yellow-100 {
        --nmp-shadow: theme("colors.yellow.100");
    }
    .nmp-shadow-yellow-200 {
        --nmp-shadow: theme("colors.yellow.200");
    }
    .nmp-shadow-yellow-300 {
        --nmp-shadow: theme("colors.yellow.300");
    }
    .nmp-shadow-yellow-400 {
        --nmp-shadow: theme("colors.yellow.400");
    }
    .nmp-shadow-yellow-500 {
        --nmp-shadow: theme("colors.yellow.500");
    }
    .nmp-shadow-yellow-600 {
        --nmp-shadow: theme("colors.yellow.600");
    }
    .nmp-shadow-yellow-700 {
        --nmp-shadow: theme("colors.yellow.700");
    }
    .nmp-shadow-yellow-800 {
        --nmp-shadow: theme("colors.yellow.800");
    }
    .nmp-shadow-yellow-900 {
        --nmp-shadow: theme("colors.yellow.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-green-100 {
        --nmp-shadow: theme("colors.green.100");
    }
    .nmp-shadow-green-200 {
        --nmp-shadow: theme("colors.green.200");
    }
    .nmp-shadow-green-300 {
        --nmp-shadow: theme("colors.green.300");
    }
    .nmp-shadow-green-400 {
        --nmp-shadow: theme("colors.green.400");
    }
    .nmp-shadow-green-500 {
        --nmp-shadow: theme("colors.green.500");
    }
    .nmp-shadow-green-600 {
        --nmp-shadow: theme("colors.green.600");
    }
    .nmp-shadow-green-700 {
        --nmp-shadow: theme("colors.green.700");
    }
    .nmp-shadow-green-800 {
        --nmp-shadow: theme("colors.green.800");
    }
    .nmp-shadow-green-900 {
        --nmp-shadow: theme("colors.green.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-teal-100 {
        --nmp-shadow: theme("colors.teal.100");
    }
    .nmp-shadow-teal-200 {
        --nmp-shadow: theme("colors.teal.200");
    }
    .nmp-shadow-teal-300 {
        --nmp-shadow: theme("colors.teal.300");
    }
    .nmp-shadow-teal-400 {
        --nmp-shadow: theme("colors.teal.400");
    }
    .nmp-shadow-teal-500 {
        --nmp-shadow: theme("colors.teal.500");
    }
    .nmp-shadow-teal-600 {
        --nmp-shadow: theme("colors.teal.600");
    }
    .nmp-shadow-teal-700 {
        --nmp-shadow: theme("colors.teal.700");
    }
    .nmp-shadow-teal-800 {
        --nmp-shadow: theme("colors.teal.800");
    }
    .nmp-shadow-teal-900 {
        --nmp-shadow: theme("colors.teal.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-blue-100 {
        --nmp-shadow: theme("colors.blue.100");
    }
    .nmp-shadow-blue-200 {
        --nmp-shadow: theme("colors.blue.200");
    }
    .nmp-shadow-blue-300 {
        --nmp-shadow: theme("colors.blue.300");
    }
    .nmp-shadow-blue-400 {
        --nmp-shadow: theme("colors.blue.400");
    }
    .nmp-shadow-blue-500 {
        --nmp-shadow: theme("colors.blue.500");
    }
    .nmp-shadow-blue-600 {
        --nmp-shadow: theme("colors.blue.600");
    }
    .nmp-shadow-blue-700 {
        --nmp-shadow: theme("colors.blue.700");
    }
    .nmp-shadow-blue-800 {
        --nmp-shadow: theme("colors.blue.800");
    }
    .nmp-shadow-blue-900 {
        --nmp-shadow: theme("colors.blue.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-indigo-100 {
        --nmp-shadow: theme("colors.indigo.100");
    }
    .nmp-shadow-indigo-200 {
        --nmp-shadow: theme("colors.indigo.200");
    }
    .nmp-shadow-indigo-300 {
        --nmp-shadow: theme("colors.indigo.300");
    }
    .nmp-shadow-indigo-400 {
        --nmp-shadow: theme("colors.indigo.400");
    }
    .nmp-shadow-indigo-500 {
        --nmp-shadow: theme("colors.indigo.500");
    }
    .nmp-shadow-indigo-600 {
        --nmp-shadow: theme("colors.indigo.600");
    }
    .nmp-shadow-indigo-700 {
        --nmp-shadow: theme("colors.indigo.700");
    }
    .nmp-shadow-indigo-800 {
        --nmp-shadow: theme("colors.indigo.800");
    }
    .nmp-shadow-indigo-900 {
        --nmp-shadow: theme("colors.indigo.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-purple-100 {
        --nmp-shadow: theme("colors.purple.100");
    }
    .nmp-shadow-purple-200 {
        --nmp-shadow: theme("colors.purple.200");
    }
    .nmp-shadow-purple-300 {
        --nmp-shadow: theme("colors.purple.300");
    }
    .nmp-shadow-purple-400 {
        --nmp-shadow: theme("colors.purple.400");
    }
    .nmp-shadow-purple-500 {
        --nmp-shadow: theme("colors.purple.500");
    }
    .nmp-shadow-purple-600 {
        --nmp-shadow: theme("colors.purple.600");
    }
    .nmp-shadow-purple-700 {
        --nmp-shadow: theme("colors.purple.700");
    }
    .nmp-shadow-purple-800 {
        --nmp-shadow: theme("colors.purple.800");
    }
    .nmp-shadow-purple-900 {
        --nmp-shadow: theme("colors.purple.900");
    }
}
@variants responsive,
group-hover,
focus-within,
first,
last,
odd,
even,
hover,
focus,
active,
visited,
disabled {
    .nmp-shadow-pink-100 {
        --nmp-shadow: theme("colors.pink.100");
    }
    .nmp-shadow-pink-200 {
        --nmp-shadow: theme("colors.pink.200");
    }
    .nmp-shadow-pink-300 {
        --nmp-shadow: theme("colors.pink.300");
    }
    .nmp-shadow-pink-400 {
        --nmp-shadow: theme("colors.pink.400");
    }
    .nmp-shadow-pink-500 {
        --nmp-shadow: theme("colors.pink.500");
    }
    .nmp-shadow-pink-600 {
        --nmp-shadow: theme("colors.pink.600");
    }
    .nmp-shadow-pink-700 {
        --nmp-shadow: theme("colors.pink.700");
    }
    .nmp-shadow-pink-800 {
        --nmp-shadow: theme("colors.pink.800");
    }
    .nmp-shadow-pink-900 {
        --nmp-shadow: theme("colors.pink.900");
    }
}
